body {
  color:white;
}

.navbar {
  padding 1rem;
  background-color: white;
}

.btn-primary:hover {
  background-color: blue;
  color: white;
}

.hero-background-img {
  background-image: url("ryan-warburton-yFC4SAmzrAI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
